<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Green Quote</title>
    <!--[if lt IE9]>
    <script src="http://html5.shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href='{{url_for('static', filename="css/base.css")}}'>
    <link rel="stylesheet" href='{{url_for('static', filename="css/skeleton.css")}}'>
    <link rel="stylesheet" href='{{url_for('static', filename="css/layout.css")}}'>
    <link rel="stylesheet" href='{{url_for('static', filename="css/style.css")}}'>
   </head>
  <body>
    <header>
      <aside id="user-controls">
        <ul>
        </ul>
      </aside>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Green Quote</h1>
      <section id="content">
        <div id="container">
          <div class="three columns third">
            <div id="indice">
              <h4>Indices Available for Green Quotes</h4>
              <p><button id="nsdqct" href="static/indice-NSDQCT.html" class="indices-button">NASDAQ CleanTech</button></p>
              <p><button id="nsdqe" href="static/indice-NSDQE.html" class="indices-button">NASDAQ Energy Index</button></p>
              <p><button id="nye" href="static/indice-NYE.html" class="indices-button">New York Energy Index</button></p>
              <p><button id="tsxct" href="static/indice-TSXCT.html" class="indices-button">Toronto CleanTech</button></p>
              <p><button id="tsxog" href="static/indice-TSXOG.html" class="indices-button">Toronto OG</button></p>
              <p><button id="tsxvct" href="static/indice-TSXVCT.html" class="indices-button">Toronto Venture</button></p>
              <p><button id="tsxvog" href="static/indice-TSXVOG.html" class="indices-button">Toronto Venture OG</button></p>
            </div><!-- indice -->
          </div><!-- first column -->
          <div class="three columns third">
            <div id="stocks">Select one of the indices from the left</div>
          </div>
          <div class="three columns third">
            <div id="company">Company Metrics</div>
          </div>
        </div><!-- container for all columns -->
      </section>
    </main>
    <footer>
      <p>Created in the Code Fellows Python Dev Accelerator</p>
    </footer>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{{url_for('static', filename='gquote.js')}}"></script>
  </body>
</html>
